@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Oxygen:wght@300&display=swap');
body{
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
a img{
    width: 80px;
}
nav a:hover{
    color: black;
    background-color: #83C5BE;
}
main section{
    text-align: center;
}
body{
    background-color: #EDF6F9;
}
header{
    background-color: #006D77;
    display: grid;
    grid-template-columns: 150px auto;
}
footer{
    background-color: #006D77;
    color: black;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #000000;
    text-decoration: none;
}
footer a:hover{
    color: #EDF6F9;
}
.icon{
    width: 80px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer{
    padding: 25px 50px;
}
footer .social img{
    padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero-msg {
        margin-top: 0;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }